:root {
  margin: 4rem;
  margin-left: 16rem;
  margin-right: 16rem;
}

.mr-8 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 4px;
}

.button {
  height: 50%;
  margin-top: 24px !important;
}

.mr-16 {
  margin: 16px;
}

.ml-16 {
  margin-left: 16px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.ml-64 {
  margin-left: 156px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

#patientSelect {
  width: 168% !important;
  height: 40% !important;
  margin-top: -6px;
  margin-right: 8px;
}

.modalNewPatient {
  margin-left: 532px !important;
}

.center {
  display: flex;
  flex-direction: column !important;
}

.ml-8 {
  margin-left: 8px !important;
}